// .page-home

body {
  .page-home & {
    height: 100%;
  }
}

header {
  .page-home & {
    @include mq-base {
      &::after {
        border-left: 160px solid transparent;
        border-right: 160px solid transparent;
        border-top: 25px solid palette-colour-alpha($palette-mono, 'lightest', 'dark');
        bottom: 1rem;
        content: '';
        height: 0;
        left: 50%;
        position: absolute;
        transform: translate(-50%, 0);
        width: 0;
      }
    }

    height: 100%;
    overflow: hidden;

    & .content-restrict {
      display: flex;
      min-height: 100%;
    }
  }
}

html {
  &.page-home {
    height: 100%;
  }
}

main {
  .page-home & {
    padding: 1.5rem 0 4rem;

    & .standard {
      padding: 1.5rem percentage(20/strip-units($max-viewport-width)) 3rem; // 10px either side at full width
    }

    & .introduction {
      padding-top: 0;
    }

    & .promotion {
      align-items: center;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      display: flex;
      justify-content: center;

      & a {
        border-bottom: 1px solid palette-colour($palette-mono, 'lightest');
        text-shadow: 1px 1px 2px palette-colour($palette-mono, 'darker');

        &:focus {
          border-bottom: 2px solid palette-colour($palette-main, 'lightest');
          text-shadow: 0 0 1px palette-colour($palette-mono, 'lighter');
        }

        &:hover {
          border-bottom: 2px solid palette-colour($palette-main, 'lightest');
          text-shadow: 0 0 1px palette-colour($palette-mono, 'lighter');
        }
      }
    }

    & .promo-item {
      background-color: palette-colour-alpha('mono', 'dark', 'medium');
      box-shadow: 0 0 125px palette-colour-alpha('mono', 'lightest', 'light');
      color: palette-colour('mono', 'lightest');
      padding: .5rem percentage(40/strip-units($max-viewport-width)) .25rem; // 20px either side at full width
      text-align: center;

      & h2 {
        color: palette-colour($palette-mono, 'lightest');
      }
    }

    & .portfolio {
      background-image: url('#{$background-promo}');
      min-height: 27rem;
    }

    & .locale {
      background-image: url('#{$background-location}');
      min-height: 30rem;
    }
  }

  @include mq-medium {
    .page-home & {
      & .portfolio {
        background-attachment: fixed;
        min-height: 48rem;
      }
    }
  }

  @include mq-full {
    .page-home & {
      margin-left: 0;
      margin-right: 0;
      width: 100%;

      & .standard {
        margin-left: auto;
        margin-right: auto;
        width: $max-viewport-width;
      }
    }
  }
}

nav {
  @include mq-small {
    .page-home & {
      bottom: 0;
      position: absolute;
    }
  }

  .page-home & {
    margin-top: 5rem;
  }
}

@include mq-base {
  .page-home {
    & nav {
      box-shadow: 0 5px 10px 1px $edge-shadow-colour;

      &.active {
        top: 0;
      }
    }
  }
}

.logo-site {
  .page-home & {
    background-color: palette-colour-alpha('mono', 'mid', 'dark');
    box-shadow: 0 0 125px palette-colour-alpha('mono', 'lightest', 'light');
    margin: auto;
    padding: 1.5rem;
    position: relative;
    top: -1rem;
    width: 20rem;

    & p {
      margin-bottom: 0;
    }
  }
}
