body {
  background-color: palette-colour($palette-mono, 'lightest');
  min-width: $min-viewport-width;
}

dd {
  float: right;
  width: auto;
}

dl {
  margin-bottom: .75rem;
  overflow: hidden;
}

dt {
  clear: left;
  float: left;
  width: auto;

  &::after {
    content: ':';
  }
}

html {
  background-color: palette-colour('mono', 'dark');

  &.page-home {
    background-color: palette-colour('mono', 'lightest');
  }
}

main {
  @include mq-full {
    margin-left: auto;
    margin-right: auto;
    width: $max-viewport-width;
  }

  overflow: hidden;
  padding: 2.5rem percentage(20/strip-units($max-viewport-width)) 4rem; // 10px either side at full width

  & a {
    border-bottom: 1px solid palette-colour($palette-mono, 'mid');
    text-decoration: none;
    text-shadow: 2px 2px 2px palette-colour($palette-mono, 'light');

    &:focus {
      border-bottom: 2px solid palette-colour($palette-main, 'foreground');
      text-shadow: 1px 1px 0 palette-colour($palette-mono, 'mid');
      transition: .1s;
    }

    &:hover {
      border-bottom: 2px solid palette-colour($palette-main, 'foreground');
      text-shadow: 1px 1px 0 palette-colour($palette-mono, 'mid');
      transition: .1s;
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $heading-colour;
  text-shadow: 1px 1px 1px $edge-shadow-colour;
}

h1 {
  color: darken(palette-colour($palette-main, 'background'), 15%);
  text-align: center;
}

.content-restrict {
  @include mq-full {
    margin-left: auto;
    margin-right: auto;
    width: $max-viewport-width;
  }

  padding: 0 percentage(20/strip-units($max-viewport-width)); // 10px either side at full width
}

.code-inline {
  background-color: $code-inline-background-colour;
  border: 1px solid $code-inline-border-colour;
  color: $code-inline-color;
  display: inline;
  padding: 0 .25em;
}

.list-standard {
  list-style-position: inside;
  list-style-type: square;
  margin-left: percentage(15/strip-units($max-viewport-width));

  & li {
    padding-left: 1em;
    text-indent: -1em;
  }
}

.note {
  color: $note-color;
  font-size: calc-rem($note-font-size)#{'rem'};
  font-variant: small-caps;
  font-weight: bold;
  letter-spacing: .05em;
  text-transform: capitalize;
}

.skip {
  &:active {
    position: static;
  }

  &:focus {
    position: static;
  }
}
