// base typographical rules only 

@include font-face($base-type-name, $base-type-path);
@include font-face($base-heading-type-name, $base-heading-type-path);
@include font-face($alt-emphasis-type-name, $alt-emphasis-type-path);
@include font-face($svg-icons-type-name, $svg-icons-type-path);

body {
  font-family: #{$base-font-family};
  font-size: calc-rem($base-root-font-size)#{'rem'};
  line-height: $base-line-height;
}

html {
  font-size: $base-font-proportional-size;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: #{$base-heading-font-family};
  letter-spacing: .025em;
}

h1 {
  @include heading-vertical-rhythm($h1-size, $top-margin: 0);
}

h2 {
  @include heading-vertical-rhythm($h2-size);
}

h3 {
  @include heading-vertical-rhythm($h3-size);
}

h4 {
  @include heading-vertical-rhythm($h4-size);
}

p {
  margin-bottom: $base-line-height#{'rem'};
}

.list-standard {
  margin-bottom: 2.25rem;

  & li {
    margin-bottom: .75rem;
  }
}
