@{
    ViewData["Title"] = "Test";
    ViewData["Page class"] = "page-code";
}

<h1>@ViewData["Title"]</h1>
<p>
   Establish modular architecture.
</p>


<section data-ng-app="app">
    @* angular custom component - kebab-case here, camelCase in the component *@
    <record-breakers-list></record-breakers-list>
</section>




@section ScriptsBody {
    @{await Html.RenderPartialAsync("_CodeBlockAngularJSScriptsPartial"); }
}
