@{
    ViewData["Description"] = "Code view";
    ViewData["Title"] = "Code";
    ViewData["Page class"] = "page-code";
}

<h1>@ViewData["Title"]</h1>
<p>Some potentially useful code snippets and discourse on various coding issues that I'll add to as time permits. I like to make notes on processes that aren't always frequently implemented to facilitate their rapid reuse and understanding at a later date. So hopefully this might prove useful not only to myself - I realise it's not a blog with published comments available but if you have any queries, corrections, improvements, etc. please <a href="/contact/">drop me a line</a>.</p>

<h2>Node</h2>
<ul class="list-standard">
    <li><a href="@Url.RouteUrl(RouteNames.NodeExpressGulpBuild, null)">Node Express builds using Gulp</a></li>
</ul>

@*<h2>AngularJS</h2>
<ul class="list-standard">
    <li><a href="@Url.RouteUrl(RouteNames.AngularJSThing, null)">AngularJS thing</a></li>
</ul>*@