
.form-main {
  @include mq-medium {
    margin: 0 auto 1.1rem;
    padding-top: .5rem;
    width: 85%;
  }

  @include mq-large {
    width: 65%;
  }

  margin: 0 percentage(20/strip-units($max-viewport-width)) 1.8em; // 10px either side at full width
  overflow: hidden;
  padding-top: .5rem;
  position: relative;

  & dd {
    @include mq-small {
      float: left;
      width: 75%;
    }

    @include mq-medium {
      & [name$='SenderName'] {
        width: 70%;
      }

      & [name$='SenderEmailAddress'] {
        width: 85%;
      }
    }

    float: none;
    min-height: 4.5rem;

    & span {
      display: block;
    }

    &.form-row-deep {
      min-height: 16.5rem;
    }
  }

  & dl {
    @include mq-small {
      margin: 0 auto .7rem;
      padding-top: 1.6rem;
    }

    @include mq-medium {
      width: 85%;
    }
  }

  & dt {
    @include mq-small {
      clear: left;
      float: left;
      margin-top: .5rem;
      padding-right: percentage(20/strip-units($max-viewport-width));
      width: 25%;
    }

    float: none;

    &::after {
      content: '';
    }
  }

  & label {
    font-variant: small-caps;
  }

  & legend {
    color: $legend-colour;
    font-size: calc-rem($legend-font-size)#{'rem'};
    font-style: italic;
    font-variant: small-caps;
    font-weight: bold;
  }

  & [type='submit'] {
    float: right;
  }
}

.advice-form-fields {
  font-size: calc-rem($form-advice-font-size)#{'rem'};
  font-variant: small-caps;
  margin-bottom: 0;
  position: absolute;
  right: percentage(20/strip-units($max-viewport-width));
  top: .2rem;
  width: auto;

  &::before {
    color: $input-text-standard-border-colour;
    content: '*';
    left: -5px;
    position: relative;
  }
}

.required {
  &::after {
    color: $input-text-standard-border-colour;
    content: '*';
    left: 5px;
    position: relative;
  }
}
