.gallery {
  align-content: space-between;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 1.5rem;

  & a {
    border-bottom: 0;
    display: block;
    padding: 0 percentage(100/strip-units($max-viewport-width)); // 50px either side at full width

    &:focus {
      border-bottom: 0;
    }

    &:hover {
      border-bottom: 0;
    }
  }

  & figure {
    overflow: hidden;
    position: relative;

    &:focus {
      & figcaption {
        bottom: 0;
        opacity: 1;
      }
    }

    &:hover {
      & figcaption {
        bottom: 0;
        opacity: 1;
      }
    }
  }

  & figcaption {
    @include mq-base {
      bottom: 0;
      opacity: 1;
    }

    background: palette-colour-alpha($palette-mono, 'darkest', 'medium');
    border-radius: 150px/40px 40px 0 0;
    bottom: -30%;
    color: palette-colour($palette-mono, 'lightest');
    left: 0;
    opacity: 0;
    padding: 1rem percentage(40/strip-units($max-viewport-width));
    position: absolute;
    transition: .5s ease;
    width: 100%;

    & h2 {
      @include heading-vertical-rhythm($h3-size);
    }

    & p {
      margin-bottom: 0;
    }
  }

  & img {
    display: block;
    margin: 0 auto;
  }

  & li {
    @include mq-small {
      width: 50%;
    }

    @include mq-large {
      width: 33%;
    }

    @include mq-full {
      width: 25%;
    }

    display: block;
    margin-bottom: 3rem;
    width: 100%;
  }
}

.screenshot-work {
  @include mq-medium {
    float: left;
    margin-right: percentage(80/strip-units($max-viewport-width));

    + p {
      padding-top: 3rem;
    }
  }

  display: block;
  margin: 0 auto 2.4rem;
}
