.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  & a {
    border-bottom: 0;
    display: block;
    width: 100%;

    &:focus {
      border-bottom: 0;
    }

    &:hover {
      border-bottom: 0;
    }
  }

  & figure {
    overflow: hidden;
    position: relative;

    &:focus {
      & figcaption {
        bottom: 0;
        opacity: 1;
      }
    }

    &:hover {
      & figcaption {
        bottom: 0;
        opacity: 1;
      }
    }
  }

  & figcaption {
    background: palette-colour-alpha($palette-mono, 'darkest', 'medium');
    bottom: -30%;
    color: palette-colour($palette-mono, 'lightest');
    left: 0;
    opacity: 0;
    padding: 10px 20px;
    position: absolute;
    transition: .5s ease;
    width: 100%;
  }

  & img {
    display: block;
    margin: 0 auto;
    width: 85%;
  }

  & li {
    @include mq-small {
      width: 50%;
    }

    @include mq-large {
      width: 33%;
    }

    @include mq-full {
      width: 25%;
    }

    margin-bottom: 3rem;
    width: 100%;
  }
}
