@{
    ViewData["Title"] = "Corporate tools";
    ViewData["Page class"] = "page-work";
}

<h1>@ViewData["Title"]</h1>

<p>Some stuff here</p>

<img src="~/images/portfolio-screenshots/informa_tools.jpg" alt="Collage of screenshots taken from various internal corporate tools websites" />

