@{
    ViewData["Title"] = "In-house corporate tools";
    ViewData["Page class"] = "page-work";
}

<h1>@ViewData["Title"]</h1>

<img src="~/images/portfolio-screenshots/informa_tools.jpg" alt="Collage of screenshots taken from various internal corporate tools websites" class="screenshot-work" />

<p>I have worked on various aspects of many internal corporate tools including the UI, providing the same display flexibility, useability and accessibility as built into external facing sites.</p>

<p>Working environments ranged from PHP with <a href="https://twig.sensiolabs.org/">Twig</a> templating to ASP.NET MVC with Razor views. The most recent work was a <a href="https://nodejs.org/">Node</a> research client API using elasticsearch queries and an <a href="https://aws.amazon.com/">AWS</a> S3 data source.</p>