@{
    ViewData["Title"] = "Corporate tools";
    ViewData["Page class"] = "page-work";
}

<h1>@ViewData["Title"]</h1>

<img src="~/images/portfolio-screenshots/informa_tools.jpg" alt="Collage of screenshots taken from various internal corporate tools websites" />

<p>I have worked on various aspects of many internal corporate tools including the UI, providing the same display flexibility, useability and accessibility as built into external facing sites.</p>