@{
    ViewData["Title"] = "Datamonitor Knowledge Centres";
    ViewData["Page class"] = "page-work";
}

<h1>@ViewData["Title"]</h1>

<p>Some stuff here</p>

<img src="~/images/portfolio-screenshots/dm_kcs.jpg" alt="Collage of screenshots taken from the Datamonitor Knowledge Centres website" />

