@{
    ViewData["Title"] = "Datamonitor Knowledge Centre prototype";
    ViewData["Page class"] = "page-work";
}

<h1>@ViewData["Title"]</h1>

<p>Some stuff here</p>

<img src="~/images/portfolio-screenshots/dm_kc_proto.jpg" alt="Collage of screenshots taken from the Datamonitor Knowledge Centre prototype website" />

