@{
    ViewData["Title"] = "Datamonitor Knowledge Centres";
    ViewData["Page class"] = "page-work";
}

<h1>@ViewData["Title"]</h1>

<img src="~/images/portfolio-screenshots/dm_kcs.jpg" alt="Collage of screenshots taken from the Datamonitor Knowledge Centres website" class="screenshot-work" />

<p>A reworking, updating and rebranding of an existing B2B platform. A classic ASP application, the underlying business logic data was XML transformed into fully viewport responsive HTML5 using XSLT transforms.</p>