@{
    ViewData["Title"] = "Datamonitor Knowledge Centre prototype";
    ViewData["Page class"] = "page-work";
}

<h1>@ViewData["Title"]</h1>

<img src="~/images/portfolio-screenshots/dm_kc_proto.jpg" alt="Collage of screenshots taken from the Datamonitor Knowledge Centre prototype website" class="screenshot-work" />

<p>A prototype reworking and updating of an existing B2B platform. A classic ASP application, underlying business logic data was XML transformed into HTML 4 via XSLT transforms.</p>
<p>In an effort to update the platform the XSLT and CSS was reworked to provide a fully responsive HTML5 site which then led to the adoption of a similar process with a rebranded design.</p>
