@{
    ViewData["Title"] = "GCR Rolling Stock Trust";
    ViewData["Page class"] = "page-work";
}

<h1>@ViewData["Title"]</h1>

<img src="~/images/portfolio-screenshots/gcr_rst.jpg" alt="Collage of screenshots taken from the GCR Rolling Stock Trust website" class="screenshot-work" />

<p>Some stuff here</p>