@{
    ViewData["Description"] = "Work: GCR Rolling Stock Trust view";
    ViewData["Title"] = "GCR Rolling Stock Trust";
    ViewData["Page class"] = "page-work";
}

<h1>@ViewData["Title"]</h1>

<img src="~/images/portfolio-screenshots/gcr_rst.jpg" alt="Collage of screenshots taken from the GCR Rolling Stock Trust website" class="screenshot-work" />

<p>A sole effort - classic ASP site built with a fully featured custom-built CMS enabling all text and binary content to be edited by the owners. This website was an early semi-responsive design... well okay, only the centre panel adjusted according to viewport width!</p>

<p>Possibly one of the longest-lived sites on the internet from 2004 to 2017! Still online as of writing at <a href="http://www.gcr-rollingstocktrust.co.uk/">http://www.gcr-rollingstocktrust.co.uk/</a> but imminently due to be replaced with a more modern ubiquitous Wordpress site.</p>