@{
    ViewData["Title"] = "Work";
    ViewData["Page class"] = "page-work";
}

<h1>@ViewData["Title"]</h1>

<p>fwibble</p>

<ul>
    <li>
        <a href="@Url.RouteUrl(RouteNames.LibertedExpression, null)">Liberté d'Expression</a>
    </li>
    
</ul>