@{
    ViewData["Title"] = "Liberté d'Expression";
    ViewData["Page class"] = "page-work";
}

<h1>@ViewData["Title"]</h1>

<p>Some stuff here</p>

<img src="~/images/portfolio-screenshots/lde.jpg" alt="Collage of screenshots taken from the Liberté d'Expression website" />

