@{
    ViewData["Description"] = "Work: Liberté d'Expression view";
    ViewData["Title"] = "Liberté d'Expression";
    ViewData["Page class"] = "page-work";
}

<h1>@ViewData["Title"]</h1>

<img src="~/images/portfolio-screenshots/lde.jpg" alt="Collage of screenshots taken from the Liberté d'Expression website" class="screenshot-work" />

<p>A PHP based site implementing the <a href="http://www.yiiframework.com/">Yii MVC framework</a> via <a href="https://getcomposer.org/">Composer</a> as dependency manager.</p>
<p>The front-end features a fully responsive design. The design was arrived at in collaboration with the owner, having a requirement for an essentially old style semi-fixed height 'kiosk' layout at maximum viewport widths.</p>
<p>Created in conjunction with a previous colleague, <a href="https://github.com/cieclarke">Chris Clarke</a>.</p>
<p>Online at <a href="http://www.libertedexpression.co.uk/">http://www.libertedexpression.co.uk/</a></p>