@{
    ViewData["Title"] = "London Freemasonry Administration";
    ViewData["Page class"] = "page-work";
}

<h1>@ViewData["Title"]</h1>

<img src="~/images/portfolio-screenshots/lm_admin.jpg" alt="Collage of screenshots taken from the London Freemasonry Administration website" />

<p>A classic ASP site with a MySQL backend.</p>
<p>Whilst working for London Freemasonry, the administrative body for all London area Lodges and Chapters, there was a requirement for a secure administration portal in which subscriptions and other membership details could be managed.</p>
<p>Personal responsibilites included all design work and implementation, effectively acting as a sole web-developer on this project.</p>
<p>No longer online... or at least if it is... shrouded in mystery.</p>