@{
    ViewData["Title"] = "MarketLine Advantage";
    ViewData["Page class"] = "page-work";
}

<h1>@ViewData["Title"]</h1>

<img src="~/images/portfolio-screenshots/marketline.jpg" alt="Collage of screenshots taken from the MarketLine Advantage website" class="screenshot-work" />

<p>An ASP.NET MVC application and an early fully responsive HTML 4 design. Built by a small team, this site was a complete replacement, back-end and front-end of a previous incarnation. As the business model was extensively XML the standard MVC views were handled using a XSLT view rendering engine.</p>
<p>My personal involvement was predominantly in XSLT transforms, Javascript and all front-end work including the responsive design.</p>

<p>MarketLine Advantage is available online: <a href="https://advantage.marketline.com/">https://advantage.marketline.com/</a></p>