@{
    ViewData["Title"] = "MarketLine Advantage";
    ViewData["Page class"] = "page-work";
}

<h1>@ViewData["Title"]</h1>

<p>Some stuff here</p>

<img src="~/images/portfolio-screenshots/marketline.jpg" alt="Collage of screenshots taken from the MarketLine Advantage website" />

