@{
    ViewData["Title"] = "Nottingham Transport Heritage Centre";
    ViewData["Page class"] = "page-work";
}

<h1>@ViewData["Title"]</h1>

<img src="~/images/portfolio-screenshots/nthc.jpg" alt="Collage of screenshots taken from the Nottingham Transport Heritage Centre website" class="screenshot-work" />

<p>A sole effort - classic ASP site built with a fully featured custom-built CMS enabling all text and binary content to be edited by the owners via secure administration pages.</p>
<p>No longer online as I believe the Centre was restructured as a new organisation.</p>