@{
    ViewData["Title"] = "Nottingham Transport Heritage Centre";
    ViewData["Page class"] = "page-work";
}

<h1>@ViewData["Title"]</h1>

<img src="~/images/portfolio-screenshots/nthc.jpg" alt="Collage of screenshots taken from the Nottingham Transport Heritage Centre website" class="screenshot-work" />

<p>Some stuff here</p>