@{
    ViewData["Title"] = "Rail Europe";
    ViewData["Page class"] = "page-work";
}

<h1>@ViewData["Title"]</h1>

<img src="~/images/portfolio-screenshots/contract_01.jpg" alt="Collage of screenshots taken from the Rail Europe website" class="screenshot-work" />

<p>Some stuff here</p>