@{
    ViewData["Title"] = "Rail Europe";
    ViewData["Page class"] = "page-work";
}

<h1>@ViewData["Title"]</h1>

<img src="~/images/portfolio-screenshots/contract_01.jpg" alt="Collage of screenshots taken from the Rail Europe website" class="screenshot-work" />

<p>Early contract work had me working redesigning, implementing and maintaining an existing commercial site as a new ASP.NET replacement took shape.</p>
<p>Although primarily concerned with the UI and weaving new promotions into the latter, I was also spending much time writing SQL queries for the new site.</p>
<p>The replacement site is still online at: <a href="https://www.raileurope.com/">https://www.raileurope.com/</a></p>