@{
    ViewData["Title"] = "Daily Telegraph Subscriptions";
    ViewData["Page class"] = "page-work";
}

<h1>@ViewData["Title"]</h1>

<img src="~/images/portfolio-screenshots/dt_subs.jpg" alt="Collage of screenshots taken from the Daily Telegraph Subscriptions prototype website" class="screenshot-work" />

<p>Whilst working for the Daily Telegraph newspaper I was required to build and demonstrate a prototype website for newspaper subscription purposes.</p>
<p>At the time this was mocked up in an early version of ASP.NET</p>