@{
    ViewData["Title"] = "Daily Telegraph Subscriptions";
    ViewData["Page class"] = "page-work";
}

<h1>@ViewData["Title"]</h1>

<img src="~/images/portfolio-screenshots/dt_subs.jpg" alt="Collage of screenshots taken from the Daily Telegraph Subscriptions prototype website" class="screenshot-work" />

<p>Some stuff here</p>