@{
    ViewData["Title"] = "The Pod";
    ViewData["Page class"] = "page-work";
}

<h1>@ViewData["Title"]</h1>

<p>Some stuff here</p>

<img src="~/images/portfolio-screenshots/thepod.jpg" alt="Collage of screenshots taken from the The Pod website" />

