@{
    ViewData["Title"] = "The Pod";
    ViewData["Page class"] = "page-work";
}

<h1>@ViewData["Title"]</h1>

<img src="~/images/portfolio-screenshots/thepod.jpg" alt="Collage of screenshots taken from the The Pod website" class="screenshot-work" />

<p>A frontend contract position at The Guardian newspaper working on a website for environmental awareness in schoolchildren commissioned by a large French energy company.</p>



<p>The Pod is still online in somewhat modified format at <a href="http://jointhepod.org/">http://jointhepod.org/</a></p>