@{
    ViewData["Title"] = "Tesco Property Market";
    ViewData["Page class"] = "page-work";
}

<h1>@ViewData["Title"]</h1>

<img src="~/images/portfolio-screenshots/tpm.jpg" alt="Collage of screenshots taken from the Tesco Property Market website" class="screenshot-work" />

<p>A very interesting frontend contract position for at the time, a visionary yet highly contentious application amongst the world of estate agents. Initially a small startup company, this was snapped up by Tescos only to be closed by the Office of Fair Trading and then, business model amended sold to another estate agent... and the saga continued.</p>
<p>Technically this was an ASP.NET 2 Web Forms application and was constructed by a small team of approximately ten developers alongside a small QA team and one or two resident designers and even a copy writer.</p>
<p>Personally, this long contract position was a pivotal moment in my career - from illustrating how a small focused and highly professional team could achieve great things... to the infectious enthusiasm of working for a small startup, even working late into the night at one point. It was the influence of colleagues who encouraged in myself an enthusiasm for all things front-end and a most positive attitude to website accessibility which still stays with me today.</p>
<p>It would be highly negligent of me to mention that the Managing Director, <a href="https://uk.linkedin.com/in/markjd">Mark Davies</a>, had an exemplary attitude to management/worker relations buying us only the very finest jam doughnuts on Fridays... none of that powdery sugar squidgy stuff, this was the real McCoy...</p>