@{
    ViewData["Title"] = "Tesco Property Market";
    ViewData["Page class"] = "page-work";
}

<h1>@ViewData["Title"]</h1>

<img src="~/images/portfolio-screenshots/tpm.jpg" alt="Collage of screenshots taken from the Tesco Property Market website" class="screenshot-work" />

<p>Some stuff here</p>