@{
    ViewData["Title"] = "About";
    ViewData["Page class"] = "page-about";
}

<h1>@ViewData["Title"]</h1>
<p>This website is created, built and written by me, Nick Bergquist. I'm a front end web developer from the UK currently or recently working on various <a href="/work/">projects</a>.</p>
<p>I have gained experience over the years in a variety of areas and am currently keeping myself entertained in ASP.NET MVC Core, SASS, gulp and Javascript projects.</p>
<p>Of particular interest to me is web accessibility challenges, awareness and solutions. I also have an incessant interest in the latest and greatest advances in CSS techniques.</p>