@{
    ViewData["Title"] = "About";
    ViewData["Page class"] = "page-about";
}

<h1>@ViewData["Title"]</h1>
<p>
    This website is created, built and written by me, Nick Bergquist. I'm a front-end web developer from the UK currently or recently working on various <a href="/work/">projects</a>.
</p>

<h2>Experience</h2>

<p>
    In recent years I have worked in 'agile' web development teams in both corporate B2B (Business to business) environments and as a contractor for various well-known organisations.
    I have gained experience over the years in a variety of web technology and usability areas and am currently keeping myself entertained in ASP.NET MVC Core, SASS, gulp and Javascript projects. Of particular interest to me is web accessibility challenges, awareness and solutions. I also have an incessant interest in the latest and greatest advances in CSS techniques.
</p>

<p>Some of my most recent work can be found at <a href="https://github.com/nickbergquist">https://github.com/nickbergquist</a></p>

<h2>Miscellany</h2>

<p>
    I have two cats but as a responsible cat keeper I solemnly swear not to use this website to further enlarge the burgeoning internet cat picture population, at least not for now.
</p>