


///////////////
//  images   //
///////////////

$background-header: '../images/background-paws.jpg' !default;
$background-main: '../images/underline.png' !default;
$background-promo: '../images/background-train-window_01.jpg' !default;
$background-location: '../images/rochester-bridge.jpg' !default;


////////////////
//  palette   //
////////////////

$palette-main: main !default;
$palette-mono: mono;

$home-colour: palette-colour($palette-main, 'primary') !default;
$about-colour: palette-colour($palette-main, 'accent') !default;
$work-colour: palette-colour($palette-main, 'foreground') !default;
$code-colour: palette-colour($palette-main, 'secondary') !default;
$contact-colour: palette-colour($palette-main, 'background') !default;


//////////////////////
//  typographical   //
//////////////////////

$base-type: base-sans-serif !default; // map in _config.scss and override in themes\*.scss
$base-type-name: map-get(map-get($fonts, $base-type), name);
$base-type-path: map-get(map-get($fonts, $base-type), path);
$base-font-family: map-get(map-get($fonts, $base-type), family);
$base-font-proportional-size: map-get(map-get($fonts, $base-type), size-proportional);
$base-root-font-size: map-get(map-get($fonts, $base-type), size-root);
$base-line-height: map-get(map-get($fonts, $base-type), line-height);
$base-typographical-height-unit: map-get(map-get($fonts, $base-type), typographical-base-unit);

$base-heading-type: base-heading-sans-serif !default; // map in _config.scss and override in themes\*.scss
$base-heading-type-name: map-get(map-get($fonts, $base-heading-type), name);
$base-heading-type-path: map-get(map-get($fonts, $base-heading-type), path);
$base-heading-font-family: map-get(map-get($fonts, $base-heading-type), family);

$alt-emphasis-type: alt-emphasis-sans-serif !default; // map in _config.scss and override in themes\*.scss
$alt-emphasis-type-name: map-get(map-get($fonts, $alt-emphasis-type), name);
$alt-emphasis-type-path: map-get(map-get($fonts, $alt-emphasis-type), path);
$alt-emphasis-font-family: map-get(map-get($fonts, $alt-emphasis-type), family);

$svg-icons-type: svg-icons !default; // map in _config.scss and override in themes\*.scss
$svg-icons-type-name: map-get(map-get($fonts, $svg-icons-type), name);
$svg-icons-type-path: map-get(map-get($fonts, $svg-icons-type), path);
$svg-icons-font-family: map-get(map-get($fonts, $svg-icons-type), family);

$heading-colour: darken(palette-colour($palette-main, 'background'), 5%) !default;
$heading-colour-variant: lighten(palette-colour($palette-main, 'background'), 7.5%) !default;
$h1-size: 29px !default;
$h2-size: 24px !default;
$h3-size: 22px !default;
$h4-size: 20px !default;

$list-body-size: 14px !default;
$nav-root-size: 18px !default;
$form-legend: 80% Arial !default;
$legend-colour: palette-colour($palette-main, 'secondary') !default;
$legend-font-size: 21px !default;
$form-advice-font-size: 14px !default;


///////////////
//  inputs   //
///////////////

$button-border-width: 1px !default;
$button-font-size: 18px !default;
$button-font-family: $alt-emphasis-font-family !default;
$button-top-padding: 12px !default;
$button-horiz-padding: 20px !default;
$button-bottom-padding: 10px !default;
$button-primary-colour: palette-colour($palette-mono, 'lightest') !default;
$button-secondary-colour: palette-colour-alpha($palette-main, 'secondary', 'dark') !default;
$button-accent-colour: palette-colour($palette-main, 'accent') !default;

$button-nav-colour: palette-colour($palette-mono, 'lightest') !default;
$button-nav-hover-colour: palette-colour($palette-mono, 'light') !default;
$button-nav-active-colour: palette-colour($palette-mono, 'light') !default;
$button-nav-content: '\e800' !default;
$button-nav-active-content: '\e801' !default;
$button-nav-background-colour: palette-colour-alpha($palette-mono, 'lightest', 'dark') !default;
$button-nav-font-size: 35px !default;
$button-nav-padding: 7px !default;
$button-nav-height: 50px !default;
$button-nav-width: 50px !default;

$input-text-standard-background-colour: palette-colour($palette-mono, 'lightest') !default;
$input-text-standard-border-width: 2px !default;
$input-text-standard-border-colour: palette-colour($palette-main, 'secondary') !default;
$input-text-standard-border-focus-colour: palette-colour($palette-main, 'primary') !default;
$input-text-standard-vert-padding: 8px !default;
$input-text-standard-horiz-padding: 8px !default;
$input-text-standard-shadow-colour: palette-colour($palette-mono, 'lighter') !default;


///////////////////
//  navigation   //
///////////////////

$nav-main-anchor-colour: palette-colour($palette-mono, 'lightest') !default;


///////////////////////////
//  shadows & gradients  //
///////////////////////////

$edge-shadow-colour: palette-colour-alpha($palette-mono, 'darkest', 'light') !default;
$edge-shadow-colour-variant: palette-colour($palette-mono, 'darkest') !default;
$code-inline-background-colour: palette-colour($palette-mono, 'offwhite') !default;
$code-inline-border-colour: palette-colour($palette-mono, 'lighter') !default;
$code-inline-color: palette-colour($palette-mono, 'dark') !default;
$note-color: palette-colour($palette-main, 'primary') !default;
$note-font-size: 15px;

/////////////////
//  viewport   //
/////////////////

$min-viewport-width: 320px;
$max-viewport-width: 1260px;
